@import '@radix-ui/colors/red-dark.css';

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
html,
body,
:root,
#root,
.radix-themes {
  min-height: 100vh;
  margin: 0;
  /* line-height: 1.5; */
}

/* Set shorter line heights on headings and interactive elements */
/* h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
} */

/* Balance text wrapping on headings */
/* h1, h2,
h3, h4 {
  text-wrap: balance;
} */

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
} */

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
/* textarea:not([rows]) {
  min-height: 10em;
} */

/* Anything that has been anchored to should have extra scroll margin */
/* :target {
  scroll-margin-block: 5ex;
} */
/* END CSS RESET */

.radix-themes .dark,
.radix-themes .light {
  padding: 1rem;
}

.toggleThemeContainer {
  min-width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.themeIcon {
  align-self: center;
}

#addTodoBtn {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
#addTodoBtn svg {
  width: 2rem;
  height: 2rem;
  transform: translate(-0.25rem, 0.25rem);
}

.todosUList {
  padding: 0;
}

.collapsibleTodoCard {
  width: 100%;
}

.todoCard {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  min-width: 70%;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-grow: 1;
}

.todoMinimalInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.todoMinimalInfo:not(:nth-last-child(1)) {
  margin-bottom: 1rem;

}

.toggleDoneCheckbox {
  width: 2rem;
  height: 2rem;
}

.completedTodo {
  text-decoration: line-through;
  color: var(--slate-10);
}

.undisplayedMinimalInfo {
  display: none;
}

.todoActions {
  display: flex;
  min-width: 80px;
  flex-basis: 5.5rem;
  flex-grow: 0;
  justify-content: space-between;
}

.todoActionBtn {
  align-self: center;
}

/* FOOTER */
.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  background-color: var(--slate-1);
}

.footerMentions {
  font-size: 0.7rem;
}